extends layoutProd.pug

block content
	body(onload = 'checkBasket()')
		nav(id = 'nav' class = 'nav-extended purple')
			div(class='nav-wrapper')
				ul(class='right hide-on-med-and-down')
					li
						a.waves-effect(href = "/price-list")
							i.material-icons list
						li
							a(id = 'butInstall' aria-label = 'install' class = 'waves-effect')
								i(class='material-icons') add_circle_outline
						li
							a(id = 'butBasket' aria-label = 'basket' class = 'waves-effect')
								i(class='material-icons') shopping_basket
						li
							a(id = 'butRefresh' aria-label = 'refresh' class = 'waves-effect')
								i(class='material-icons') notifications
						li
							a(id = 'butSearch' aria-label = 'refresh' class = 'waves-effect' onclick = 'location.href = "/search"')
								i(class='material-icons') search
				a(href='/' class='card-content purple' id = 'title')
					i(onclick = 'history.go(-1);' class = 'material-icons left' style = 'padding-left:1%;' id = 'back') arrow_back
					h1.normal 📎️ Richmond Paper Supply
					
				div(class='nav-content' id = 'tab-mob')
					ul(class='tabs tabs-transparent purple lighten-1')
						li(class='tab waves-effect')
							a(href='/') Home
						li(class='tab disabled waves-effect')
							a(href='/option1') Products
		div(typeof = 'schema:Product')
			div(rel='schema:image' resource=`${productImage}`)
			div(property='schema:name' content=`${productName}`)
			div(property='schema:description' content=`${productDescription}`)
			div(property='schema:sku' content=`${product}`)
			div(rel='schema:offers')
				div(property='schema:price' content=`${productPrice}`)
				div(property = 'schema:priceCurrency' content = 'GBP')
				div(property = 'schema:availability' content = 'http://schema.org/InStock')
				div(rel = 'schema:url' resource = 'https://www.richmondpapersupply.co.uk/products/' + `${product}`)
				div(property='schema:priceValidUntil' datatype='xsd:date' content='2025-11-20')
			div(property='schema:mpn' content=`${product}`)
			div(rel='schema:brand')
				div(typeof='schema:Brand')
					div(property='schema:name' content='Richmond Paper Supply')
		div.container
			div.card
				div.card-image
					img.responsive-img.materialboxed(src=`${productImage}` alt = "Product Image")
				div.card-content
					div.card-title.card-content #{productName}
					p Description : !{productDescription}
					br
					p Price : £!{productPrice}
					br
					p Call or email us to find out where we deliver and place your order : 
					br
					a(href = 'tel:01519331000')  0151 933 1000
					br
					br
					a(href = 'mailto:orders@richmondpapersupply.co.uk')  orders@richmondpapersupply.co.uk
					br
					br
					p Product Code : #{ product }
					//label(for = 'inp') Quantity
					//input.input(name = 'inp' id = 'inp'+`${product}` min = '1' max = '999' value = '1')
				div.card-action
					a(href = '#' onclick = 'addJson("'+`${product}`+'");checkBasket();getValues()' class = 'btn add purple waves-effect') Order Sample
						i.material-icons.left local_shipping

					
		div(class='fixed-action-btn' id = 'fabSpan' onclick = 'window.location.href = "/basket"')
			div(class='numberCircle' id = 'numberCircle' onclick = 'window.location.href = "/basket"')
			a(class='btn-floating btn-large purple waves-effect waves-circle hoverable')
				i(class='large material-icons') shopping_basket
	
