extends layout.pug

block content
	body(onload = 'checkBasket()')
		div(class = navbar-fixed)
			nav(id = 'nav' class = 'purple')
				div(class='nav-wrapper')
					a(href='/' class='card-content purple' id = 'title') 📎️ Richmond Paper Supply
						ul(class='right hide-on-med-and-down')
							li
								a(id = 'butInstall' aria-label = 'install' class = 'waves-effect')
									i(class='material-icons') add_circle_outline
							li
								a(id = 'butBasket' aria-label = 'basket' class = 'waves-effect')
									i(class='material-icons') shopping_basket
							li
								a(id = 'butRefresh' aria-label = 'refresh' class = 'waves-effect')
									i(class='material-icons') notifications
		div.pageInfo
			div.card
				div.card-image
					img.responsive-img(src=`${productImage}`)
					span.card-title #{productName}
				div.card-content
					p Description : #{ productDescription }
					p Product Number : #{ product }
					label(for = 'inp') Quantity
					input.input(name = 'inp' id = 'inp'+`${product}` min = '1' max = '999' value = '1')
				div.card-action
					a(href = '#' onclick = 'addJson("'+`${product}`+'");checkBasket();getValues()' class = 'btn purple waves-effect') Add to Basket
					
		div(class='fixed-action-btn' id = 'fabSpan' onclick = 'window.location.href = "/basket"')
			div(class='numberCircle' id = 'numberCircle' onclick = 'window.location.href = "/basket"')
			a(class='btn-floating btn-large purple waves-effect waves-circle hoverable')
				i(class='large material-icons') shopping_basket
	
